/* Start Disable Overflow-x */

body{
	overflow-x: hidden !important;
}

[type="radio"]:not(:checked), [type="radio"]:checked{
	left: initial;
}

label{
	color: white;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
	border: 2px solid #01579b;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color: #004d40
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border: 2px solid #004d40;
}

form p{
	text-align: right;
}

/* End Disable Overflow-x */

/* Start Section Page */

.pageSection{
	color: white;
	.row{
		margin-bottom: 0;
		.asideLeft{
			min-height: 100vh;
			.input-field{
				label{
					left: initial;
				}
				.picker{
					direction: ltr;
				}
			}
			.time,.rand,.quesToShow{
				display: none;
			}
			.quesToShowSelect,.back{
				display: none !important;
			}
			.ans{
				margin-left: -10px;
			}
		}
	}
}

/* End Section Page */
