/* Start Disable Overflow-x */

body{
	overflow-x: hidden !important;
}

/* End Disable Overflow-x */

/* Start Section Page */

.pageSection{
	color: white;
	.row{
		margin-bottom: 0;
		.asideLeft{
			min-height: 100vh;
			.input-field{
				label{
					left: initial;
				}
				.picker{
					direction: ltr;
				}
				button{
					margin-bottom: 50px;
				}
			}
			.time,.rand{
				display: none;
			}
			.ans{
				margin-left: -10px;
			}
		}
	}
}

/* End Section Page */
