/* Start Disable Overflow-x */

body{
	overflow-x: hidden !important;
}

/* End Disable Overflow-x */

/* Start Section Page */
.pageSection{
	color: white;
	.row{
		margin-bottom: 0;
		.asideLeft{
			min-height: 100vh;
			#example_info,#example_filter label,.dataTables_wrapper .dataTables_paginate .paginate_button{
				color: white !important;
			}
			.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
				color: #666 !important;
			}
			.dataTables_wrapper .dataTables_paginate .paginate_button.current{
				color: #333 !important;
			}
			table{
				thead{
					tr{
						th{
							text-align: right;
						}
					}
				}
				tbody{
					.child{
						float: left;
					}
					tr{
						background-color: inherit;
						.en{
							direction: ltr;
						}
						td{
							text-align: right;
							a{
								i{
									transform: rotate(180deg);
								}
								color: white;
							}
							label{
								color: white;
							}
						}
					}
				}
			}
		}
	}
}

/* End Section Page */